# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Test coverage
/coverage

# Production build
/build

# Package manager locks
package-lock.json
yarn-debug.log*
yarn-error.log*
npm-debug.log*


# Miscellaneous OS/System files
.DS_Store

# Environment configuration
.env
.env.*
.env.*.local

# Firebase configurations
firestore.indexes.json
firestore.rules
src/firebaseConfig.js

# Vercel and IDE-specific
/.vercel
/.idea
