@use '../../assets/Styles.scss' as styles;

$border-color_1: currentColor transparent transparent transparent;

.home {
  padding: 25px;
  margin: 0;
  min-height: 0;
  overflow: auto;
  text-align: justify;

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  color: styles.$primary-color;
}

.loading-ring {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

