@use '../assets/Styles.scss' as styles;

.content-box {
  background-color: styles.$quaternary-color;
  width: 50%;

  &-title {
    padding: 5px 25px 0 25px;

    h1 {
      font-size: 34px;
    }
  }

  &-description {
    padding: 0 25px 15px 25px;

    font-size: 16px;
  }

  &-first {
    background-color: styles.$primary-color-90;
    color: styles.$quaternary-color;

    ::selection {
      background: styles.$quaternary-color;
      color: styles.$primary-color;
    }
  }

  &-ar {
    direction: rtl;
    font: 100% styles.$font-stack-arabic;

  }

  &-latin {
    direction: ltr;
    font: 100% styles.$font-stack;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      color: styles.$primary-color;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        transition: background-color 0.5s, color 0.5s, border-color 0.5s;
        color: white;
      }

      &.clicked {
        border-color: black;
        background-color: black;
        color: white;
      }
    }

    &-like-button {
      border-color: #4CAF50; /* Green */
      background-color: styles.$quaternary-color;

      &:hover {
        background-color: #4CAF50;
        border-color: #4CAF50;
      }
    }

    &-dislike-button {
      border-color: #f44336; /* Red */
      background-color: styles.$quaternary-color;

      &:hover {
        background-color: #f44336;
        border-color: #f44336;
      }
    }

    &-report-button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      //border: none;
      border-radius: 5px;
      //background-color: styles.$secondary-color;
      //color: white;

      border-color: styles.$secondary-color;
      background-color: styles.$quaternary-color;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        background-color: styles.$secondary-color;
        border-color: styles.$secondary-color;
      }

      &.clicked {
        cursor: not-allowed;

        &:active {
          transform: none;
        }
      }
    }
  }
}