@use '../assets/Styles.scss' as styles;
$header-shadow: rgba(0, 0, 0, 0.1);

.header {
    /*background-color: #D5D5D5; /* Light gray background color */
    background-color: styles.$quaternary-color; /* Dark gray background color */
    height: 110px;
    width: 100%;
    flex-shrink: 0; /* Prevent the header from shrinking when content grows */
    display: flex;
    flex-direction: row; /* Stack toolbar items and search bar vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: space-between;

    z-index: 100;
    //#eae7e7
    //#1e1e1e
    border-bottom: 1px solid styles.$header-border-color;
    box-shadow: 0 -6px 5px 5px $header-shadow;

    &-left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 0 15px;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        img {
            height: 50px;
            margin: 0 35px 0 0;

            // undraggable
            -webkit-user-drag: none;

            cursor: help;
        }
    }

    &-right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        a {
            color: styles.$secondary-color;
            font-size: 17px;
            opacity: 1;

            &:hover {
                opacity: 0.5;
            }

            &.active {
                color: styles.$primary-color;
                opacity: 0.5;
            }
        }

        &-add {
            padding: 0;
            margin: 0 7px 0 0;
            -webkit-transition: padding-right 0.4s ease-in-out;
            transition: padding-right 0.4s ease-in-out;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
        }

        .SearchBar {
            padding: 0;
            margin: 0 50px 0 0;
        }

        &-mode {
            padding: 0;
            margin: 0 10px 0 0;
            width: 25px;
            height: 25px;
            //display: flex;
        }

        &-language {
            padding: 0;
            margin: 0 5px 0 0;
            width: 65px;
            height: 25px;
            position: relative;
            z-index: 1000;

            display: flex;
            flex-direction: row;

            p {
                color: styles.$primary-color;
                font: 100% styles.$font-stack;
                padding: 0 0 0 5px;
                align-self: center;
                user-select: none;

                // This is a cool effect, it makes the text's background an image
                // but it doesn't look good with the current background
                //display: inline-block;
                //margin: 0;
                //font-size: 30px;
                //background-image: url(
                //'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/English_language.svg/800px-English_language.svg.png?20141018184419');
                //font-weight: bold;
                //background-repeat: no-repeat;
                //background-size: cover;
                //background-position: center;
                //color: transparent;
                //background-clip: text;
                //-webkit-background-clip: text;
                //-webkit-text-stroke-width: 0.1px;
                //-webkit-text-stroke-color: white;
            }

            cursor: pointer;
        }

        &-user {
            padding: 0;
            margin: 0 5px 0 0;
            width: 25px;
            height: 25px;

            img {
                width: 100%;
                height: 100%;

                cursor: pointer;
                -webkit-user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }
}

.menuToggle {
    display: block;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 10000;

    -webkit-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        color: styles.$primary-color;
        font-family: styles.$font-stack;

        transition: color 0.3s ease;

        &:hover {
            color: styles.$secondary-color;
        }
    }

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 10002; /* and place it over the hamburger */

        -webkit-touch-callout: none;

        /*
         * Transform all the slices of hamburger into a crossmark.
         */
        &:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: styles.$primary-color;

            /*
             * Hide the middle one.
             */

            &:nth-last-child(3)
            {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
        }

        /*
         * The last one should go the other direction
         */
        &:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        /*
         * Slide it in from the left
         */
        &:checked ~ ul
        {
            transform: none;
        }
    }

    /*
     * Just a quick hamburger
     */
    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: styles.$secondary-color;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;

        &:first-child
        {
            transform-origin: 0 0;
        }

        &:nth-last-child(2)
        {
            transform-origin: 0 100%;
        }
    }
}

/* Burger menu CSS code */
@media (max-width: 1200px) {
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        min-width: 300px;
        margin: -100px 0 0 50px;
        padding: 135px 50px 50px;
        top: 0;
        right: 0;

        background: styles.$tertiary-color;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0 0;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

}

/* Hide the burger menu on screens wider than 1200px */
@media (min-width: 1201px) {
  .menuToggle {
    display: none;
  }
}

/* Hide existing menu on screens narrower than 1201px */
@media (max-width: 1200px) {
    .toolbar-items {
        display: none;
    }

    .header-right-side{
        &-mode {
            display: none;
        }

        &-language {
            display: none;
        }
    }

    .search-box {
        margin: 0 15px 0 0;
    }
}