.header {
    background-color: #D5D5D5; /* Light gray background color */
    height: 150px;
    width: 100vw;
    flex-shrink: 0; /* Prevent the header from shrinking when content grows */
    display: flex;
    flex-direction: column; /* Stack toolbar items and search bar vertically */
    align-items: center; /* Center the content horizontally */
}

.header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 560px;
}

.header-bottom-add a {
    color: orange;
    font-size: 17px;
    opacity: 1;
}

.header-bottom-add a:hover {
    opacity: 0.5;
}

.header-bottom-add a.active {
    color: white;
    opacity: 0.5;
}
