@use '../assets/Styles.scss' as styles;

.h-content {
  background-color: styles.$quaternary-color;
  width: 50%;

  &-title {
    padding: 5px 25px 0 25px;

    h1 {
      font-size: 34px;
    }
  }

  &-description {
    padding: 0 25px 15px 25px;

    font-size: 16px;
  }

  &-first {
    background-color: styles.$primary-color-90;
    color: styles.$quaternary-color;

    ::selection {
      background: styles.$quaternary-color;
      color: styles.$primary-color;
    }
  }

  &-ar {
    direction: rtl;
    font: 100% styles.$font-stack-arabic;

  }

  &-latin {
    direction: ltr;
    font: 100% styles.$font-stack;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;

      &:active {
        transform: scale(0.95);
      }

      &.clicked {
        background-color: black;
      }
    }

    &-like-button {
      background-color: #4CAF50; /* Green */
      color: white;
    }

    &-dislike-button {
      background-color: #f44336; /* Red */
      color: white;
    }

    &-report-button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: styles.$secondary-color;
      color: white;

      &:active {
        transform: scale(0.95);
      }

      &.clicked {
        background-color: gray;
        cursor: not-allowed;


        &:active {
          transform: none;
        }
      }
    }
  }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;

    &.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}