@use '../assets/Variables.module' as variables;

.theme-toggle {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.5s ease, background-color 0.5s ease;
  width: 25px;
  height: 25px;
  font-size: 24px;
  display: flex;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    transition: opacity 0.4s ease-in-out, transform 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 1;
  }

  &:hover {
    transform: scale(1.1) rotate(10deg);
    background-color: variables.$icon-background-color;
  }

  &.animating svg {
    transform: rotate(360deg);
  }
}