.toolbar-items nav {
    position: relative;
    padding: 12px;
}

.toolbar-items nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.toolbar-items nav ul li {
    margin: 0 40px 0 0;
    transition: all 0.4s ease;
}

.toolbar-items nav ul li:last-child {
    margin-right: 0;
}

.toolbar-items nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 14px;
    opacity: 0.5;
    transition: color 1s ease;  /* color transition */
    text-align: center;
}

.toolbar-items nav ul li a:hover {
    opacity: 1;
}

.toolbar-items nav ul li a.active {
    color: orange;
    opacity: 1;
}