@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&display=swap');

$font-stack: "Segoe UI", Sans-Serif, serif;
$font-stack-arabic: "Amiri Quran", Noto Naskh Arabic;

// Dark Mode
$primary-color: #ffffff;
$secondary-color: #dd8500;
$tertiary-color: #000000;
$quaternary-color: #292929;

// Light Mode
// if light theme, change the variables
//@if($light-theme == true) {
//  $primary-color: #000000;
//  $secondary-color: #dd8500;
//  $tertiary-color: #d0d0d0;
//  $quaternary-color: #f8f8f8;
//}
