//@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/**
 * SCSS Variables Section
 * -----------------------
 * This section contains all the global SCSS variables used throughout the project.
 * It includes color definitions, font stacks, and mode-specific (light/dark) variables.
 * These variables are used to maintain a consistent design language and ease future design updates.
 */
:root {
  --primary-color: #ffffff;
  --secondary-color: #dd8500;
  --tertiary-color: #000000;
  --quaternary-color: #292929;
  --primary-color-90: rgba(255, 255, 255, 0.9);
  --secondary-color-90: rgba(221, 133, 0, 0.9);

  --font-stack: "Segoe UI", Sans-Serif, serif;
  --font-stack-arabic: "Rubik", serif;
  --font-stack-arabic-wod: "Amiri Quran", "Reem Kufi Fun", Noto Naskh Arabic;

  --header-border-color: #1e1e1e;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$quaternary-color: var(--quaternary-color);
$primary-color-90: var(--primary-color-90);
$secondary-color-90: var(--secondary-color-90);

$font-stack: var(--font-stack);
$font-stack-arabic: var(--font-stack-arabic);
$font-stack-arabic-wod: var(--font-stack-arabic-wod);

$header-border-color: var(--header-border-color);

// Dark Mode (default)
$primary-color-dark: #ffffff;
$secondary-color-dark: #dd8500;
$tertiary-color-dark: #000000;
$quaternary-color-dark: #292929;
$primary-color-90-dark: rgba(255, 255, 255, 0.9);

$header-border-color-dark: #1e1e1e;

// Light Mode
$primary-color-light: #000000;
$secondary-color-light: #dd8500;
$tertiary-color-light: #d0d0d0;
$quaternary-color-light: #f8f8f8;
$primary-color-90-light: rgba(0, 0, 0, 0.9);

$header-border-color-light: #eae7e7;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  quaternaryColor: $quaternary-color;
  primaryColorNinety: $primary-color-90;
  secondaryColorNinety: $secondary-color-90;
  headerBorderColor: $header-border-color;

  primaryColorLight: $primary-color-light;
  secondaryColorLight: $secondary-color-light;
  tertiaryColorLight: $tertiary-color-light;
  quaternaryColorLight: $quaternary-color-light;
  primaryColorNinetyLight: $primary-color-90-light;
  headerBorderColorLight: $header-border-color-light;

  primaryColorDark: $primary-color-dark;
  secondaryColorDark: $secondary-color-dark;
  tertiaryColorDark: $tertiary-color-dark;
  quaternaryColorDark: $quaternary-color-dark;
  primaryColorNinetyDark: $primary-color-90-dark;
  headerBorderColorDark: $header-border-color-dark;

  fontStack: $font-stack;
  fontStackArabic: $font-stack-arabic;
  fontStackArabicWod: $font-stack-arabic-wod;
}

/**
 * Form Styling Section
 * --------------------
 * This section contains the styles for the form elements used in the application.
 * It includes the form container, input fields, and buttons.
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: $font-stack;
  width: 100%;

  &-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: $primary-color;
  }

  &-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    min-width: 50%;

    &-box {
      padding: 10px;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: $tertiary-color;
      border-radius: 4px;
      font-size: 16px;
      width: 100%;

      &::selection {
        background-color: $primary-color;
        color: $tertiary-color;
      }

      &:focus {
        background-color: $tertiary-color;
        color: $primary-color;
      }
    }

    &-error {
      color: #a90000;
      margin-top: 5px;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-button {
      cursor: pointer;
      border-radius: 4px;
      font-weight: 600;
      margin: 5px;
      width: 200px;
      padding: 12px 24px;
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      transition: 0.3s ease-in-out;
      font-size: 20px;
      align-self: center;

      color: $secondary-color;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid $secondary-color;

      &:hover {
        //background-color: #4CAF50;
        background-color: $secondary-color;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 0 10px $secondary-color;
      }

      &-secondary {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}

