//@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/**
 * SCSS Variables Section
 * -----------------------
 * This section contains all the global SCSS variables used throughout the project.
 * It includes color definitions, font stacks, and mode-specific (light/dark) variables.
 * These variables are used to maintain a consistent design language and ease future design updates.
 */
:root {
  --primary-color: #ffffff;
  --secondary-color: #dd8500;
  --tertiary-color: #000000;
  --quaternary-color: #292929;
  background-color: var(--tertiary-color);
  --primary-color-90: rgba(255, 255, 255, 0.9);
  --primary-color-75: rgba(255, 255, 255, 0.75);
  --primary-color-50: rgba(255, 255, 255, 0.5);
  --primary-color-40: rgba(255, 255, 255, 0.4);
  --secondary-color-90: rgba(221, 133, 0, 0.9);
  --secondary-color-75: rgba(221, 133, 0, 0.75);
  --secondary-color-20: rgba(221, 133, 0, 0.2);
  --tertiary-color-90: rgba(0, 0, 0, 0.9);
  --icon-background-color: rgb(78 78 78 / 44%);

  --font-stack: "Segoe UI", Sans-Serif, serif;
  --font-stack-arabic: "Rubik", serif;
  --font-stack-arabic-wod: "Amiri Quran", "Reem Kufi Fun", Noto Naskh Arabic;

  --header-border-color: #1e1e1e;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$quaternary-color: var(--quaternary-color);
$primary-color-90: var(--primary-color-90);
$primary-color-75: var(--primary-color-75);
$primary-color-50: var(--primary-color-50);
$primary-color-40: var(--primary-color-40);
$secondary-color-90: var(--secondary-color-90);
$secondary-color-75: var(--secondary-color-75);
$secondary-color-20: var(--secondary-color-20);
$tertiary-color-90: var(--tertiary-color-90);
$icon-background-color: var(--icon-background-color);

$font-stack: var(--font-stack);
$font-stack-arabic: var(--font-stack-arabic);
$font-stack-arabic-wod: var(--font-stack-arabic-wod);

$header-border-color: var(--header-border-color);

// Dark Mode (default)
$primary-color-dark: #ffffff;
$secondary-color-dark: #dd8500;
$tertiary-color-dark: #000000;
$quaternary-color-dark: #292929;
$primary-color-90-dark: rgba(255, 255, 255, 0.9);
$primary-color-75-dark: rgba(255, 255, 255, 0.75);
$primary-color-50-dark: rgba(255, 255, 255, 0.5);
$primary-color-40-dark: rgba(255, 255, 255, 0.4);
$secondary-color-90-dark: rgba(221, 133, 0, 0.9);
$tertiary-color-90-dark: rgba(0, 0, 0, 0.9);
$icon-background-color-dark: rgb(78 78 78 / 44%);

$header-border-color-dark: #1e1e1e;

// Light Mode
$primary-color-light: #000000;
$secondary-color-light: #dd8500;
$tertiary-color-light: #d0d0d0;
$quaternary-color-light: #f8f8f8;
$primary-color-90-light: rgba(0, 0, 0, 0.9);
$primary-color-75-light: rgba(0, 0, 0, 0.75);
$primary-color-50-light: rgba(0, 0, 0, 0.5);
$primary-color-40-light: rgba(0, 0, 0, 0.4);
$secondary-color-90-light: rgba(221, 133, 0, 0.9);
$tertiary-color-90-light: rgba(208, 208, 208, 0.9);
$icon-background-color-light: rgb(173 173 173 / 44%);

$header-border-color-light: #eae7e7;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryColorNinety: $secondary-color-90;
  secondaryColorSeventyFive: $secondary-color-75;
  secondaryColorTwenty: $secondary-color-20;
  tertiaryColor: $tertiary-color;
  quaternaryColor: $quaternary-color;
  primaryColorNinety: $primary-color-90;
  primaryColorSeventyFive: $primary-color-75;
  primaryColorFifty: $primary-color-50;
  primaryColorForty: $primary-color-40;
  tertiaryColorNinety: $tertiary-color-90;
  headerBorderColor: $header-border-color;
  iconBackgroundColor: $icon-background-color;

  primaryColorLight: $primary-color-light;
  secondaryColorLight: $secondary-color-light;
  secondaryColorNinetyLight: $secondary-color-90-light;
  tertiaryColorLight: $tertiary-color-light;
  quaternaryColorLight: $quaternary-color-light;
  primaryColorNinetyLight: $primary-color-90-light;
  primaryColorSeventyFiveLight: $primary-color-75-light;
  primaryColorFiftyLight: $primary-color-50-light;
  primaryColorFortyLight: $primary-color-40-light;
  tertiaryColorNinetyLight: $tertiary-color-90-light;
  headerBorderColorLight: $header-border-color-light;
  iconBackgroundColorLight: $icon-background-color-light;

  primaryColorDark: $primary-color-dark;
  secondaryColorDark: $secondary-color-dark;
  secondaryColorNinetyDark: $secondary-color-90-dark;
  tertiaryColorDark: $tertiary-color-dark;
  quaternaryColorDark: $quaternary-color-dark;
  primaryColorNinetyDark: $primary-color-90-dark;
  primaryColorSeventyFiveDark: $primary-color-75-dark;
  primaryColorFiftyDark: $primary-color-50-dark;
  primaryColorFortyDark: $primary-color-40-dark;
  tertiaryColorNinetyDark: $tertiary-color-90-dark;
  headerBorderColorDark: $header-border-color-dark;
  iconBackgroundColorDark: $icon-background-color-dark;

  fontStack: $font-stack;
  fontStackArabic: $font-stack-arabic;
  fontStackArabicWod: $font-stack-arabic-wod;
}

// Common colors
$white: #ffffff;
$black: #000000;
$green: #4CAF50;
$alert-red: #a90000;
$dark-grey: #292929;

/**
 * Global Styling Section
 * ----------------------
 * This section contains the global styles for the application.
 * It includes the body, headings, paragraphs, links, and form elements.
 */

* {
  h1, h2, h3, h4, h5, h6, p, a, span, div, input, textarea, button {
    font-family: $font-stack;
    color: $primary-color;
  }
}

.not-found {
  text-align: center;
  vertical-align: middle;
  height: 70vh;
  line-height: 70vh;
}

/**
 * Form Styling Section
 * --------------------
 * This section contains the styles for the form elements used in the application.
 * It includes the form container, input fields, and buttons.
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: $font-stack;
  width: 100%;
  transition: 0.3s;
  box-sizing: border-box;
  gap: 12px;

  &-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: $primary-color;
    width: 100%;
  }

  &-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 80%;

    @media (max-width: 700px) {
      width: 95%;
    }

    &-box {
      padding: 10px;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: $tertiary-color;
      border-radius: 4px;
      font-family: $font-stack;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;

      &::selection {
        background-color: $primary-color;
        color: $tertiary-color;
      }

      &:focus {
        background-color: $tertiary-color;
        color: $primary-color;
      }

      &:hover {
        background-color: $primary-color-90;
        color: $tertiary-color;
      }
    }

    textarea {
      resize: vertical;
    }

    &-error {
      color: $alert-red;
      margin-top: 5px;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //overflow: hidden;
    //white-space: nowrap;
    flex-wrap: wrap;

    &-button {
      cursor: pointer;
      border-radius: 4px;
      font-weight: 600;
      margin: 5px;
      width: clamp(125px, 200px, 250px);
      padding: 12px 24px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      transition: 0.3s ease-in-out;
      font-size: 20px;
      align-self: center;

      color: $primary-color;
      background-color: $secondary-color;
      border: 1px solid $secondary-color;

      &:hover {
        //background-color: #4CAF50;
        background-color: $secondary-color;
        color: $quaternary-color;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 0 10px $secondary-color;
      }

      &-secondary {
        background-color: $quaternary-color;
        color: $secondary-color;
      }
    }
  }

  &-forgot {
    color: $primary-color-75;
    margin: 5px 0;
    cursor: pointer;

    font-size: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, font-size 1s ease-out;

    &.show {
      opacity: 1;
      font-size: 16px;
      height: 23px;
    }
  }

  &-oauth {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 16px;
      font-family: $font-stack;
      color: $primary-color-75;
    }
  }

  &-left {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    width: 55%;
    min-width: 300px;

    img {
      width: 80%;
      max-width: 300px;
      margin: 10px 0;
      align-self: center;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.08) 0 3px 6px, rgba(0, 0, 0, 0.10) 0 3px 6px;
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0 0 5px 0;
      line-height: 1.4;
      width: 95%;
    }

    &-input {
      width: 100%;
    }
  }
}

/**
 * Loading Ring Animation
 * ----------------------
 * This section contains the keyframes for the loading ring animation.
 * It is used to display a loading spinner while the application fetches data.
 */

.loading-ring {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    // The use of currentColor here is pretty cool! border: 8px solid currentColor;
    border: 8px solid $primary-color-90;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary-color-90 transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Button Styling Section
 * ----------------------
 * This section contains the styles for the buttons used in the application.
 * It includes a disabled state.
 */
.buttons {
  display: flex;
  flex-direction: row;
  user-select: none;

  &-between {
    justify-content: space-between;
  }

  &-evenly {
    justify-content: space-evenly;
  }

  &-button {
    padding: 5px 10px;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $primary-color-90;
    background: transparent;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 5px;

    * {
      margin: 0;
      padding: 0;
      color: $primary-color-90;
    }

    &:hover {
      background: $primary-color-90;
      color: $tertiary-color;
      * {
        color: $tertiary-color;
      }
    }

    &:active {
      box-shadow: 0 0 12px 0 rgba(225, 225, 225, 1);
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      background-color: $primary-color-40;
      cursor: not-allowed;
      &:hover {
        background-color: $primary-color-40;
        color: $primary-color-90;
        * {
          color: $primary-color-90;
        }
      }
      &:focus {
        background-color: $primary-color-40;
        color: $primary-color-90;
        * {
          color: $primary-color-90;
        }
      }
    }

    &.primary {
      background-color: $secondary-color;
      color: $primary-color;
      border: 1px solid $secondary-color;

      &:hover {
        background-color: $secondary-color-20;
        color: $primary-color;
      }
    }

    &.secondary {
      background-color: transparent;
      color: $secondary-color;
      border: 1px solid $secondary-color;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }

    &.danger {
      background-color: $alert-red;
      color: $primary-color;
      border: 1px solid $alert-red;

      &:hover {
        background-color: #470000FF;
        color: $primary-color;
      }
    }
  }
}

/**
 * Feed Styling Section
 * --------------------
 * This section contains the styles for the feed section used in the application.
 */
.feed {
  display: flex;
  justify-content: space-between; /* Ensure space between the ad spaces */
  align-items: stretch; /* Make children take the same height */

  &-posts {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensure space between the ad spaces */
    padding: 25px;
    margin: 0;
    min-height: 0;
    overflow: auto;
    text-align: justify;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    color: $primary-color;
    transition: padding 0.3s ease-in-out, gap 0.3s ease-in-out;

    @media (max-width: 1200px) {
      gap: 1px;
      padding: 0 0 2px 0;
    }

    &-ad-space {
      width: 100%;
      height: 25vh;
      display: none; //for now

      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  &-loading {
    &-hidden {
      display: none;
    }
  }

  &-ad-space {
    width: 25%;
    display: none;

    @media (min-width: 1200px) {
      display: block;
      flex: 0 0 25%; /* Ensure the ad space takes 25% width */
    }
  }
}

.hidden {
  display: none;
}