@use './assets/Styles.scss' as styles;

::selection {
  background: styles.$primary-color;
  color: styles.$tertiary-color;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the app to 100% of the viewport height */
  background-color: styles.$tertiary-color;
}

.toolbar-items {
  margin-bottom: 10px; /* Add some spacing between toolbar items and the search bar */
}

.search-bar {
  /* Add styles for the SearchBar component if necessary */
}

.content {
  height: 100%;
}